/*flexbox are reponsive website make*/
.container {
    display: flex; /* its display to flex */
    flex-direction: row; /* row wise flex distribution */
    flex-direction: column; /* column wise flex distribution */
    flex-direction: row-reverse; /* row wise reverse flex distribution */
    flex-direction: column-reverse; /* column wise reverse flex distribution */
    flex-wrap: nowrap; /* normal default */
    flex-wrap: wrap; /* auto arrange row and column space distribution */
    flex-wrap: wrap-reverse; /* auto arrange row and column space distribution reverse */
    align-content: flex-start; /* content space distribution where all content from start with wrap */
    align-content: flex-end; /* content space distribution where all content from end with wrap */
    align-content: center; /* content space distribution where all content from center with wrap */
    align-content: space-between; /* content space distribution where all content from space between with wrap */
    justify-content: flex-start; /* in horizontal items distribution from start */
    justify-content: flex-end; /* in horizontal items distribution from end */
    justify-content: center; /* in horizontal items distribution from center */
    justify-content: space-between; /* in horizontal items distribution from space between */
    justify-content: space-around; /* in horizontal items distribution from space around */
    justify-content: space-evenly; /* in horizontal items distribution from space evenly */
    align-items: flex-start; /* in vertically items distribution from space start */
    align-items: flex-end; /* in vertically items distribution from space end */
    align-items: center; /* in vertically items distribution from space center */
    align-items: baseline; /* in vertically items distribution from space baseline */
    align-items: stretch;  /* in vertically items distribution from space stretch */
    align-content: center; /* in vertically items distribution from space center */
    align-content: flex-start; /* in vertically items distribution from space start */
    align-content: flex-end; /* in vertically items distribution from space end */
    align-content: space-between; /* in vertically items distribution from space between */
    align-content: space-around; /* in vertically items distribution from space around */
    align-content: space-evenly; /* in vertically items distribution from space evenly */
    align-content: baseline; /* in vertically items distribution from space baseline */
    /*align-self are apply and ignore align-items*/
    align-self: flex-start; /* normal */
    align-self: flex-end; /* reverse */
    align-self: center; /* space distribute */
    align-self: baseline; /* flex text align height width */
    /*flex basis is apply on flex-direction*/
    flex-basis: 100px; /* flex-grow and flex-shrink */
    flex-grow: 1; /* size increase default 1 */
    min-width: 400px; /* its fix width given */
    flex-shrink: 1; /* size decrease default 1 */
    flex: 1 1 100px; /* flex-grow, flex-shrink, flex-basis */
    flex: 1 100px; /* flex-grow, flex-basis */
    flex: 1; /* flex-grow */
    flex: 100px; /* flex-basis */
}